@import '../../styles/variable.module.scss';

.main {
  min-height: 800px;

  background-image: url('/images/background-lg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url('/images/background-md.png');
  }

  @media (max-width: 425px) {
    background-image: url('/images/background-sm.png');
  }
}
