@import '../../styles/variable.module.scss';

.main {
  min-height: 800px;

  background-image: url('/images/background-lg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url('/images/background-md.png');
  }

  @media (max-width: 425px) {
    background-image: url('/images/background-sm.png');
  }
}

.content {
  max-width: 667px;
  min-height: 313px;

  margin: 310px auto 0;
  padding: 0 15px;
}

.title {
  color: $white-color;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  margin-top: 55px;

  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @media (max-width: 425px) {
    padding-bottom: 42px;
  }
}
