@import '../../styles/variable.module.scss';

.main {
  min-height: 800px;

  background-image: url('/images/background-lg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
